@model CMRPS.Web.Models.ColorModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ColorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
