@model CMRPS.Web.Models.ColorModel

@{
    ViewBag.Title = "Edit";
}

@Html.ActionLink("◄ Go Back", "Index")

<script src="../../Scripts/jquery-hex-colorpicker.min.js"></script>
<link rel="stylesheet" href="../../Content/jquery-hex-colorpicker.css" />

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="text-center">
        <span>Example label: </span><br /><span id="text-example">&nbsp;&nbsp; Some-PC &nbsp;&nbsp;</span>
    </div>
    <hr />

    <div class="form-horizontal">
        <h4>ColorModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ColorLabel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ColorLabel, new { htmlAttributes = new { @class = "form-control", id = "color-label", @onchange = "demoColors();", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.ColorLabel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ColorText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ColorText, new { htmlAttributes = new { @class = "form-control", id = "color-text", @onchange = "demoColors();", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.ColorText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $("#color-label").hexColorPicker();
    $("#color-text").hexColorPicker();
    demoColors();
</script>