@model IEnumerable<CMRPS.Web.Models.ColorModel>

@{
    ViewBag.Title = "Colors";
}



<h2>Colors</h2>
<hr />
<div>
    <span class="btn btn-xs btn-success" onclick="location.href = '@Url.Action("Create", "Color")'">Create new</span>
</div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorLabel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorText)
        </th>
        <th>Used by</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span id="text-@item.Id">&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Name)&nbsp;&nbsp;</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorLabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorText)
            </td>
            <td>
                @if (item.Computers.Count == 0)
                {
                    <span>Not in use</span>
                }
                else if (item.Computers.Count == 1)
                {
                    @item.Computers.Count
                    <span>Computer</span>
                }
                else
                {
                    @item.Computers.Count
                    <span>Computers</span>
                }
            </td>
            <td>
                <div class="pull-right">
                    <button class="btn btn-xs btn-info" onclick="ShowDetails(@item.Id);" data-toggle="modal" data-target="#myModal">Details</button>
                    <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Edit", "Color", new {id = item.Id})'">Edit</button>
                    <button class="btn btn-xs btn-danger" onclick="location.href = '@Url.Action("Delete", "Color", new {id = item.Id})'">Delete</button>
                </div>
            </td>
        </tr>

    }


</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modal-body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <script>
        var textColor = '@item.ColorText.Replace("#", "")';
        var labelColor = '@item.ColorLabel.Replace("#", "")';

        $('#text-' + @item.Id).css({
            "color": '#' + textColor,
            "background-color": '#' + labelColor
        });
    </script>
}

<script>
    function ShowDetails(id) {
        console.log('ID: ' + id);
        $("#modal-body").html("Loading...");

        $.ajax({
            type: 'GET',
            url: '@Url.Action("Details")',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            data: {Id: id},
            success: function (result) {
                $("#modal-body").html(result);
            },
            error: function() {
                console.log('Error');
            }
        });
    };
</script>