<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CMRPS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CMRPS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { title = "Homepage" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Computers <span class="caret"></span></a>
                            <ul class="dropdown-menu navbar-inverse">
                                <li>@Html.ActionLink("Computers", "Overview", "Status", null, new { title = "See status overview" })</li>
                                <li>@Html.ActionLink("Computers", "ListView", "Status", null, new { title = "See status list view" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                            <ul class="dropdown-menu navbar-inverse">
                                <li>@Html.ActionLink("Computers", "Index", "Computer", null, new { title = "Manage Computers" })</li>
                                <li>@Html.ActionLink("Colors", "Index", "Color", null, new {title = "Manage Computer Colors"})</li>
                                <li>@Html.ActionLink("Locations", "Index", "Location", null, new { title = "Manage Computer Locations" })</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="navbar-inverse navbar-fixed-bottom">
                <div class="footer-text">
                    <p>&copy; @DateTime.Now.Year - CMRPS - Computer Manager and Remote Power System - by Niels Schmidt</p>
                </div>
            </div>
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
