@using System.Activities.Statements
@using System.Security.Claims
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        var name = "";

        try
        {
            name = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("Firstname").Value;
        }
        catch (Exception)
        {

        }

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu navbar-inverse">
                    <li>@Html.ActionLink("Settings", "Index", "Admin", null, htmlAttributes: new {title = "Administration area for site settings."})</li>
                    <li>@Html.ActionLink("Add User", "Register", "Account", null, htmlAttributes: new { title = "Add a new user to the system." })</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/hangfire">HangFire</a></li>
                    @*<li>@Html.ActionLink("Debug Page", "Debug", "Home", null, new { title = "Schedule WOL and Shutdown of computers." })</li>*@
                </ul>
            </li>
            
            <li>
                @Html.ActionLink("Hi " + name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Your profile"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" title="Log off">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
