@using CMRPS.Web.Models
@model IEnumerable<CMRPS.Web.Models.ComputerModel>

<table class="table">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Hostname
        </th>
        <th>
            IsOnline
        </th>
        <th>
            IP
        </th>
        <th>
            MAC
        </th>
        <th>
            Color
        </th>
        <th>
            Location
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var title = "Last Seen: " + item.LastSeen.ToShortDateString() + " " + item.LastSeen.ToShortTimeString();

        <tr id="tr-id-@item.Id" class="computer-row">
            <td>
                <span id="hidden-id" class="hidden">@item.Id</span>
                <span id="hidden-name" class="hidden">@item.Name</span>
                <span id="hidden-hostname" class="hidden">@item.Hostname</span>
                <span id="hidden-type" class="hidden">@item.Type.Name</span>
                <span id="hidden-color" class="hidden">@item.Color.Name</span>
                <span id="hidden-location" class="hidden">@item.Location.Location</span>
                <span id="hidden-ip-@item.Id" class="hidden">@item.IP</span>
                <span id="hidden-mac-@item.Id" class="hidden">@item.MAC</span>
            </td>
            <td id="td-title-@item.Id" title="@title">
                <img src="@item.Type.ImagePath" width="25" height="25"/> @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hostname)
            </td>
            <td>
                <span id="computer-id-@item.Id" class="label @(item.IsOnline ? "label-success" : "label-danger")">
                    @(item.IsOnline ? "ONLINE" : "OFFLINE")
                </span>
            </td>
            <td>
                <span id="computer-ip-@item.Id">
                    @Html.DisplayFor(modelItem => item.IP)
                </span>
            </td>
            <td>
                <span id="computer-mac-@item.Id">
                    @Html.DisplayFor(modelItem => item.MAC)
                </span>
            </td>
            <td>
                <span id="color-label-@item.Id">
                    @Html.DisplayFor(modelItem => item.Color.Name)
                </span>
            </td>
            <td>
                <span>
                    @Html.DisplayFor(modelItem => item.Location.Location)
                </span>
            </td>
            <td>
                <div class="pull-right listview-menu-button">
                    <div class="dropdown listview-menu-button">
                        <button class="btn btn-xs btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-tasks"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li class="power-menu-info"><a href="#" onclick="showDetailsModal(@item.Id, '@Url.Action("Details", "Computer")');" data-toggle="modal" data-target="#modalDetails"><span class="glyphicon glyphicon-info-sign"></span> Info</a></li>
                            <li class="power-menu-edit"><a href="#" onclick="location.href = '@Url.Action("Edit", "Computer", new {id = item.Id})'"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
                            <li class="power-menu-delete"><a href="#" onclick="showDeleteModal(@item.Id, '@Url.Action("Delete")');" data-toggle="modal" data-target="#modalDelete"><span class="glyphicon glyphicon-remove"></span> <span class="power-menu-delete-text">Delete</span> </a></li>
                            <li class="power-menu-poweron"><a href="#" onclick="computerActionStartup(@item.Id);"><span class="glyphicon glyphicon-play"></span> Power On</a></li>
                            <li class="power-menu-poweroff"><a href="#" onclick="computerActionShutdown(@item.Id);"><span class="glyphicon glyphicon-stop"></span> Power Off</a></li>
                            <li class="power-menu-reboot"><a href="#" onclick="computerActionReboot(@item.Id);"><span class="glyphicon glyphicon-refresh"></span> Reboot</a></li>
                        </ul>
                    </div>
                </div>
            </td>
            @*<td>
                <div class="pull-right">
                    <button class="btn btn-xs btn-info" onclick="showDetailsModal(@item.Id, '@Url.Action("Details")');" data-toggle="modal" data-target="#modalDetails">Details</button>
                    <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Edit", "Computer", new {id = item.Id})'">Edit</button>
                    <button class="btn btn-xs btn-danger" onclick="showDeleteModal(@item.Id, '@Url.Action("Delete")');" data-toggle="modal" data-target="#modalDelete">Delete</button>
                </div>
            </td>*@
        </tr>
    }

</table>

@Html.Partial("_PartialModalDetails")
@Html.Partial("_PartialModalDelete")

@foreach (var item in Model)
{
    <script>
        colorLabel(@item.Id, '@item.Color.ColorText', '@item.Color.ColorLabel');
    </script>
}