@using CMRPS.Web.Models
@model CMRPS.Web.ModelsView.CreateComputerViewModel
@{
    ViewBag.Title = "Create";
}

@Html.ActionLink("◄ Go Back", "Index")

<h2>Create Multiple Computer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="error-text">@Html.ValidationSummary()</div>

    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Create" class="btn btn-sm btn-success pull-right" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Computer (Required)</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <span class="form-text">Computernames</span><br/>
                    <span class="form-text-light">(name1,name2,name3...)</span>
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(x => x.Computer.Hostname, new {@class = "textarea-computer-names"})
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Physical information (Required)</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.SelectedType)
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(x => x.SelectedType, new SelectList(ViewBag.Types), "Select Type")
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.SelectedColor)
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(x => x.SelectedColor, new SelectList(ViewBag.Colors), "Select Color")
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.SelectedLocation)
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(x => x.SelectedLocation, new SelectList(ViewBag.Locations), "Select Location")
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.PurchaseDate)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.PurchaseDate, new { @class = "datefield", type = "date" })
                </div>
            </div>
            <br />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h4>Computer Details (Optional)</h4>
            <hr />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.Manufacturer)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.Manufacturer)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.Model)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.Model)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.OS)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.OS)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.Description)
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(x => x.Computer.Description, new { @class = "description-input-box" })
                </div>
            </div>
            <br />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.CPU)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.CPU)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.CPUCores)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.CPUCores)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.RAM)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.RAM)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.RAMSize)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.RAMSize)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.Disk)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.Disk)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.DiskSize)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.DiskSize)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.EthernetCable)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.EthernetCable)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Computer.EthernetWifi)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Computer.EthernetWifi)
                </div>
            </div>
            <br />
        </div>
    </div>
}
