@using CMRPS.Web.Models
@model CMRPS.Web.ModelsView.IndexComputerViewModels

@{
    ViewBag.Title = "Computers";
}

<h2>Computers</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-xs btn-success" onclick="location.href = '@Url.Action("Create", "Computer")'">Create Single</button>
        <button class="btn btn-xs btn-success" onclick="location.href='@Url.Action("CreateMultiple", "Computer")'">Create Multiple</button>
        <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Import", "Computer")'">Import</button>
        <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Export", "Computer")'">Export</button>
        <button class="btn btn-xs btn-info" onclick="location.href = '@Url.Action("EmptyExport", "Computer")'">Excel template</button>
    </div>
    <div class="col-md-4">
        <div class="pull-right">
            <input id="computer-search-box" type="text" class="computer-search-box" placeholder="Search any text..." onkeyup="SearchComputers();"/>
            <button class="btn btn-xs btn-info computer-search-btn" onclick="SearchComputers();">Go</button>
        </div>
    </div>
</div>
<br/>
@if (Model.Computers.Count == 0)
{
    <div class="no-items-found">No computers created yet!</div>
}
else
{
    @Html.Partial("_PartialIndexList", Model.Computers)
}

<script>$(document).ready(srUpdateComputers());</script>