@model List<CMRPS.Web.Models.ComputerModel>

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>
<hr />
@if (Model.Count == 0)
{
    <div class="no-items-found">No computers found!</div>
}

@for (int i = 0; i < Model.Count(); i += 4)
{
    <div class="row">
        @foreach (var item in Model.Skip(i).Take(4))
        {
            var title = "IP: " + item.IP + Environment.NewLine + "MAC: " + item.MAC + Environment.NewLine + "Last Seen: " + item.LastSeen.ToShortDateString() + " " + item.LastSeen.ToShortTimeString();

            <div id="item-id-@item.Id" class="col-md-3">
                <div id="overview-well-@item.Id" class="well well-sm @(item.IsOnline ? "well-online" : "well-offline")">
                    <div class="well-header-text">
                        <div class="row">
                            <div class="col-md-10">
                                <span id="overview-popup-@item.Id" title="@title">
                                    <img src="@item.Type.ImagePath" width="25" height="25" /><b> @item.Name</b>
                                </span>
                            </div>
                            <div class="col-md-2 pull-right">
                                <div class="dropdown well-menu-button">
                                    <button class="btn btn-xs btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="glyphicon glyphicon-tasks"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li class="power-menu-info"><a href="#" onclick="showDetailsModal(@item.Id, '@Url.Action("Details", "Computer")');" data-toggle="modal" data-target="#modalDetails"><span class="glyphicon glyphicon-info-sign"></span> Info</a></li>
                                        <li class="power-menu-poweron"><a href="#" onclick="computerActionStartup(@item.Id);"><span class="glyphicon glyphicon-play"></span> Power On</a></li>
                                        <li class="power-menu-poweroff"><a href="#" onclick="computerActionShutdown(@item.Id);"><span class="glyphicon glyphicon-stop"></span> Power Off</a></li>
                                        <li class="power-menu-reboot"><a href="#" onclick="computerActionReboot(@item.Id);"><span class="glyphicon glyphicon-refresh"></span> Reboot</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@Html.Partial("_PartialModalDetails")

<script>$(document).ready(srUpdateOveriew());</script>