@model IEnumerable<CMRPS.Web.Models.ComputerTypeModel>

@{
    ViewBag.Title = "Computer Types";
}

<h2>Computer Types</h2>
<hr />
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-xs btn-success" onclick="location.href = '@Url.Action("Create", "ComputerType")'">Create new</button>
    </div>
    <div class="col-md-11">
        
    </div>
</div>
<br/>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filename)
        </th>
        <th>Used by</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@item.ImagePath" width="35" height="35" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filename)
        </td>
        <td>
            @if (item.Computers.Count == 0)
            {
                <span>Not in use</span>
            }
            else if (item.Computers.Count == 1)
            {
                @item.Computers.Count <span>Computer</span>
            }
            else
            {
                @item.Computers.Count <span>Computers</span>
            }

        </td>
        <td>
            <div class="pull-right">
                <button class="btn btn-xs btn-info" onclick="showDetailsModal(@item.Id, '@Url.Action("Details")');" data-toggle="modal" data-target="#modalDetails">Details</button>
                <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Edit", new {id = item.Id})'">Edit</button>
                <button class="btn btn-xs btn-danger" onclick="showDeleteModal(@item.Id, '@Url.Action("Delete")');" data-toggle="modal" data-target="#modalDelete">Delete</button>
            </div>
        </td>
    </tr>
}

</table>

@Html.Partial("_PartialModalDetails")
@Html.Partial("_PartialModalDelete")

@if (!Model.Any())
{
    <div class="no-items-found">No types created yet!</div>
}