@using CMRPS.Web.Enums
@using Newtonsoft.Json
@model IEnumerable<CMRPS.Web.Models.ScheduledModel>

@{
    ViewBag.Title = "Schedules";
}

<h2>Schedules</h2>
<hr />
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-xs btn-success" onclick="location.href = '@Url.Action("Create", "Scheduler")'">Create new</button>
    </div>
    <div class="col-md-11">
        <div class="pull-right">
            <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Import", "Scheduler")'">Import</button>
            <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Export", "Scheduler")'">Export</button>
            <button class="btn btn-xs btn-info" onclick="location.href = '@Url.Action("EmptyExport", "Scheduler")'">Excel template</button>
        </div>
    </div>
</div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            Time
        </th>
        <th>
            Days
        </th>
        <th>
            Last run
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        // Get days since last run
        TimeSpan lastRun = DateTime.Now - item.LastRun;

        <tr>
            <td>
                <span>@Html.DisplayFor(modelItem => item.Name)</span>
            </td>
            <td>
                <span class="label @(item.Active ? "label-success" : "label-danger")">
                    @(item.Active ? "Yes" : "No")
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @item.Hour.ToString("00"):@item.Minute.ToString("00")
            </td>
            <td>
                <span class="label label-xs @(item.DayMonday ? "label-info" : "label-default")">M</span>
                <span class="label label-xs @(item.DayTuesday ? "label-info" : "label-default")">T</span>
                <span class="label label-xs @(item.DayWednsday ? "label-info" : "label-default")">W</span>
                <span class="label label-xs @(item.DayThursday ? "label-info" : "label-default")">T</span>
                <span class="label label-xs @(item.DayFriday ? "label-info" : "label-default")">F</span>
                <span class="label label-xs @(item.DaySaturday ? "label-info" : "label-default")">S</span>
                <span class="label label-xs @(item.DaySunday ? "label-info":"label-default")">S</span>
            </td>
            <td>
                @if (lastRun.TotalDays < 18250)
                {
                    <span>@item.LastRun.ToShortDateString() </span>
                    <span>@item.LastRun.ToShortTimeString()</span>
                }
                else
                {
                    <span>Never</span>
                }
            </td>
            <td>
                <div class="pull-right">
                    <button class="btn btn-xs btn-info" onclick="showDetailsModal(@item.Id, '@Url.Action("Details")');" data-toggle="modal" data-target="#modalDetails">Details</button>
                    <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Edit", new {id = item.Id})'">Edit</button>
                    <button class="btn btn-xs btn-danger" onclick="showDeleteModal(@item.Id, '@Url.Action("Delete")');" data-toggle="modal" data-target="#modalDelete">Delete</button>
                </div>
            </td>
        </tr>

    }


</table>

<!-- Modal Details -->
<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modal-body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<span id="delete-item-id" hidden="hidden"></span>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div id="modal-body-delete" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteItem('@Url.Action("Delete")');" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Back to safety</button>
            </div>
        </div>
    </div>
</div>

@if (!Model.Any())
{
    <div class="no-items-found">No Schedules created yet!</div>
}