@using CMRPS.Web.Models
@model List<CMRPS.Web.Models.ComputerModel>

<table class="table">
    <tr>

        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (ComputerModel item in Model)
    {
        <tr class="@(item.Status ? "tablerow-online" : "tablerow-offline")">
            <td>
                <img src="@item.Type.ImagePath" width="20" /> @item.Name
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="pull-right listview-menu-button">
                    <div class="dropdown listview-menu-button">
                        <button class="btn btn-xs btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-tasks"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li class="power-menu-info"><a href="#" onclick="showDetailsModal(@item.Id, '@Url.Action("Details", "Computer")');" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-info-sign"></span> Info</a></li>
                            <li class="power-menu-poweron"><a href="#" onclick="computerActionStartup(@item.Id);"><span class="glyphicon glyphicon-play"></span> Power On</a></li>
                            <li class="power-menu-poweroff"><a href="#" onclick="computerActionShutdown(@item.Id);"><span class="glyphicon glyphicon-stop"></span> Power Off</a></li>
                            <li class="power-menu-reboot"><a href="#" onclick="computerActionReboot(@item.Id);"><span class="glyphicon glyphicon-refresh"></span> Reboot</a></li>
                        </ul>
                    </div>
                </div>
            </td>

        </tr>


    }

</table>

@if (Model.Count == 0)
{
    <div class="no-items-found">No computers found that match the filters!</div>
}