@model IEnumerable<CMRPS.Web.Models.LocationModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            <div class="pull-right">
                <button class="btn btn-xs btn-warning" onclick="location.href='@Url.Action("Edit", "Location", new {id = item.Id})'">Edit</button>
                <button class="btn btn-xs btn-danger" onclick="location.href='@Url.Action("Delete", "Location", new {id = item.Id})'">Delete</button>
            </div>
            @*@Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})*@
        </td>
    </tr>
}

</table>
