@model List<CMRPS.Web.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>User Management</h2>
<hr />

<div class="row">
    <span class="btn btn-xs btn-success" onclick="location.href='@Url.Action("Register", "Account")'">Create new user</span>
</div>
<br />
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>E-Mail</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                <div class="pull-right">
                    @*<button class="btn btn-xs btn-info" onclick="showDetailsModal(@item.Id, '@Url.Action("Details")');" data-toggle="modal" data-target="#myModal">Details</button>*@
                    <button class="btn btn-xs btn-warning" onclick="location.href = '@Url.Action("Edit", new {id = item.Id})'">Edit</button>
                    <button class="btn btn-xs btn-danger" onclick="showDeleteUserModal('@item.Id', '@Url.Action("Delete")');" data-toggle="modal" data-target="#modalDelete">Delete</button>
                </div>
            </td>
        </tr>
    }

</table>

@Html.Partial("_PartialModalDelete")