@model CMRPS.Web.ModelsView.HomeIndexViewModels
@using System.Security.Claims
@using CMRPS.Web.Enums
@{
    ViewBag.Title = "Home Page";
}

@{
    var name = "Anonymous";
    if (User.Identity.IsAuthenticated)
    {
        name = ((ClaimsIdentity)User.Identity).FindFirst("FirstName").Value;
    }
}

<div class="jumbotron">
    <h1>CMRPS</h1>
    <p class="lead">
        Welcome <b>@name</b>, to Computer Manager and Remote Power System.
    </p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Devices</h2>
        <p>Total Devices: @Model.DevicesTotal</p>
        <p style="color: green;">Online Devices: @Model.DevicesOnline | @Model.DevicesOnlinePercentage.ToString("0.00")%</p>
        <p style="color: red;">Offline Devices: @Model.DevicesOffline | @Model.DevicesOfflinePercentage.ToString("0.00")%</p>
    </div>

    <div class="col-md-4">
        <h2>Events</h2>
        @if (Model.Events.Count == 0)
        {
            <span class="no-items-found">No event to show</span>
        }
        @foreach (var item in @Model.Events)
        {
            if (item.ActionStatus == ActionStatus.None)
            {
                <span class="label label-info">@item.Timestamp.ToShortDateString() @item.Timestamp.ToShortTimeString()</span> <br /> @item.Description
            }
            else if (item.ActionStatus == ActionStatus.OK)
            {
                <span class="label label-success">@item.Timestamp.ToShortDateString() @item.Timestamp.ToShortTimeString()</span> <br /> @item.Description
            }
            else if (item.ActionStatus == ActionStatus.Warning)
            {
                <span class="label label-warning">@item.Timestamp.ToShortDateString() @item.Timestamp.ToShortTimeString()</span> <br /> @item.Description
            }
            else if (item.ActionStatus == ActionStatus.Error)
            {
                <span class="label label-danger">@item.Timestamp.ToShortDateString() @item.Timestamp.ToShortTimeString()</span><br />@item.Description
            }
            else
            {
                <span class="label label-default">@item.Timestamp.ToShortDateString() @item.Timestamp.ToShortTimeString()</span> <br /> @item.Description
            }
        }

    </div>

    <div class="col-md-4">
        <h2>Logins</h2>
        @if (Model.Logins.Count == 0)
        {
            <span class="no-items-found">No logins to show</span>
        }
        @foreach (var item in Model.Logins)
        {
            if (item.Success)
            {
                <p><span class="label label-success">@item.Timestamp.ToShortDateString() @item.Timestamp.ToShortTimeString()</span> @(item.User?.UserName.ToUpper() ?? "Unknown")</p>
            }
            else
            {
                <p><span class="label label-danger">@item.Timestamp.ToShortDateString() @item.Timestamp.ToShortTimeString()</span> @(item.User?.UserName.ToUpper() ?? "Unknown")</p>
            }
        }


    </div>
</div>